body {
    display: flex;
    flex-direction: column;
  }
.header, .footer{
 /*   background: #1F2937; */
  background: tan;
  margin-left: 10px;
  margin-right: 10px;
}
.blog {
   background: #E5E7EB; 
}
.logo_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }